.catalog {
  width: 100%;
  background-color: greenyellow;
  padding: 8px 24px;
  /* height: calc(100vh - 60px); */
  /* border: red solid 1px; */
}

.productsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
