.productCard {
  width: 264px;
  height: 396px;
  background-color: lightseagreen;
  margin: 8px;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
}

.imageWrap {
  width: 240px;
  height: 240px;
  /* aspect-ratio: 1 / 1; */
  margin: 0 auto 16px;

  /* padding-top: 8px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;

  /* margin: 8px auto; */
}

.text {
  font-size: 0.9em;
  font-weight: 500;
  /* word-spacing: -4px; */
  /* letter-spacing: -0.6px; */
}

.group1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.group2 {
  /* align-self: flex-end; */
  /* padding-top: 16px; */
  /* margin-top: auto; */
  justify-content: start;
}

.brand {
  text-transform: uppercase;
}

.sku {
  font-size: 0.7em;
  font-weight: 900;
  text-transform: uppercase;
}

.name {
  margin-top: 8px;
  font-size: 1em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.price {
  font-size: 1.3em;
  font-weight: 500;
  text-align: right;
  margin-top: 16px;
  text-transform: lowercase;
  margin-left: auto;
}

.year {
  margin: 0 12px;
}


